@font-face {
    font-family: roboto_regular;
    src: url('./public/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto_bold;
    src: url('./public/fonts/Roboto/Roboto-Bold.ttf');
}

:root {
    font-family: roboto_regular;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']{
    border-color:transparent;
}

.wrapper {
    margin: auto;
    width: 80%;
}

#id-choice {
    font-family: roboto_regular;
    padding: 1em 2em;
}

.tables-container{
    display: flex;
}

table {
    border-collapse: collapse;
}

th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1px;
}

.table-wrapper h3 {
    text-transform: capitalize;
}

.table-wrapper {
    min-width: 20vw;
}

.btn-submit {
    margin: 1em 0;
}

#id-forecast {
    width: 20vw;
    height: 10vw;
}